{% extends 'base.html' %}
{% block title %}
My Profile
{% endblock %}
{% block head %}
<link rel="stylesheet" href="../../static/plugins/assets/modules/summernote/summernote-bs4.css">
<script src="../../static/plugins/assets/modules/summernote/summernote-bs4.js"></script>
{% endblock %}
{% block user %}
{% if authenticated == True %}
{% include 'topbar.html' %}
{% endif %}
{% endblock %}

{% block navigation %}
<li class="nav-item active">
    <a href="#" type="button" class="nav-link">
        <i class="fas fa-user-circlebr"></i>
        Profile
    </a>
</li>
<li class="nav-item">
    <a href="/" class="nav-link"><i class="fas fa-home"></i><span>Home</span></a>
</li>
{% endblock %}

{% block main %}
<section class="section contact">
    {% include 'alerts.html' %}
    <div class="section-body">
        <div class="header">
            <h2 class="section-title firstTittle">Profile Management</h2>
            <nav aria-label="breadcrumb bg-none">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#" onclick="window.history.back()"><i
                                class="fas fa-backward text-warning"></i> Back</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        <i class="far fa-envelope"></i> My Profile
                    </li>
                </ol>
            </nav>
        </div>
        <div class="row mt-sm-4">
            <div class="col-12 col-md-12 col-lg-12">
                <div class="card profile-widget">
                    <div class="profile-widget-header">
                        <img alt="image" src="../../static/img/logo/pp.png"
                            class="rounded-circle profile-widget-picture">
                    </div>
                    <div class="profile-widget-description">
                        <div class="profile-widget-name">{{username}} <div
                                class="text-muted d-inline font-weight-normal">
                                <div class="slash"></div> {{state}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <form method="post" class="needs-validation" novalidate="">
                        <div class="card-header">
                            <h4>Profile</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                {% if state == "Vendor" %}
                                <div class="form-group col-md-6 col-12">
                                    <label>Supplier Name</label>
                                    <input type="text" class="form-control" placeholder="{{details.Name}}" disabled>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Supplier Email</label>
                                    <input type="text" class="form-control" placeholder="{{details.EMail}}" disabled>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Supplier Post Code</label>
                                    <input type="text" class="form-control" placeholder="{{details.PostCode}}" disabled>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Supplier Postal Address</label>
                                    <input type="text" class="form-control" placeholder="{{details.Address}}" disabled>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Supplier Phone No</label>
                                    <input type="text" class="form-control" placeholder="{{details.PhoneNo}}" disabled>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Supplier City</label>
                                    <input type="text" class="form-control" placeholder="{{details.City}}" disabled>
                                </div>
                                {% elif state == "Prospect" %}
                                <div class="form-group col-md-6 col-12">
                                    <label>Supplier Name</label>
                                    <input type="text" class="form-control" placeholder="{{details.Name}}" disabled>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Supplier Email</label>
                                    <input type="text" class="form-control" placeholder="{{details.Email}}" disabled>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Supplier Post Code</label>
                                    <input type="text" class="form-control" placeholder="{{details.PostCode}}" disabled>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Supplier Postal Address</label>
                                    <input type="text" class="form-control" placeholder="{{details.PostalAddress}}"
                                        disabled>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Supplier Phone No</label>
                                    <input type="text" class="form-control" placeholder="{{details.TelephoneNo}}"
                                        disabled>
                                </div>
                                <div class="form-group col-md-6 col-12">
                                    <label>Supplier City</label>
                                    <input type="text" class="form-control" placeholder="{{details.City}}" disabled>
                                </div>
                                {% endif %}

                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        const $messageForm = $('#messageForm');
        const $messageSpinner = $('#messageSpinner');

        $messageForm.on('submit', (e) => {
            e.preventDefault();

            if ($('#message').val() === '' || $('#subject').val() === '') {
                alert('Message and Subject can not be empty');
                return false;
            }
            $messageSpinner.show(200);
            $.ajax({
                type: 'POST',
                url: '/eprocurement/SendMessage/',
                data: {
                    name: $('#name').val(),
                    email: $('#email').val(),
                    subject: $('#subject').val(),
                    message: $('#message').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                    $('#name, #email, #subject, #message').val('');
                    $messageSpinner.hide();
                    if (data['success'] == true) {
                        iziToast.show({
                            theme: 'dark',
                            backgroundColor: '#239B56',
                            icon: 'las la-check-circle',
                            title: 'Yeah',
                            message: data['message'],
                            position: 'topRight',
                            progressBarColor: '#F4F6F7',
                        });
                    } else {
                        iziToast.show({
                            theme: 'dark',
                            icon: 'las la-exclamation',
                            title: 'Error',
                            message: data['error'],
                            position: 'topRight',
                            progressBarColor: '#ff0800',
                        });
                    }
                },
                error: function (error) {
                    console.log(error)
                    $messageSpinner.hide();
                }
            });
        });
    })
</script>
{% endblock %}